<form class="mt-4" action="/blog/<%= blog.id %>/comment" method="post">
    <div class="form-group">
        <textarea class="form-control w-50" name="comment[body]" id="" cols="30" rows="10" ></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Send">
</form>