
</main>
<footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="m-auto">
            <p class="mb-0 text-center text-light">Moein</p>
        </ul>
    </nav>
</footer>
<script src="/css/lib/Bootstrap/bootstrap.js"></script>
</body>
</html>